<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">엑스페리온 로그저장소</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="https://morgrave.github.io/wiki/" target="_blank" rel="noopener noreferrer">
        <span class="nav-text">위키 페이지</span>
      </a>
      <a class="nav-link" href="https://morgrave.github.io/bookstore/" target="_blank" rel="noopener noreferrer">
        <span class="nav-text">외부 저장소</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true">
      <app-sidebar></app-sidebar>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
